header {
	.top-header {
		padding: 15px 0;
		.logo-sec {
			@include flex;
			@include flexwrap;
			@media (max-width: 767px){
				.logo {
					img {
						height: min-content;
					}
				}
			}
		}
		.cstm-header-search {
			@media (max-width: 767px){
				-webkit-box-ordinal-group: 2;
				-ms-flex-order: 1;
				order: 1;
			}
			.header-search {
				max-width: 350px;
				margin-left: auto;
				margin-right: auto;
				@media (max-width: 991px) {
					max-width: 250px;
				}
				@media (max-width: 767px){
					width:100%;
					max-width:100%;
					margin-top:10px;
				}
				.input-group-append {
					position: absolute;
					right: 0;
					z-index: 9;
					top: 0;
					bottom: 0;
				}
			}
		}
		.cstm-cart-icon {
			.h-cart {
				ul {
					-webkit-box-pack: end;
					-ms-flex-pack: end;
					justify-content: flex-end;
					li {
						position: relative;
						a {
							color: $dark-color;
							font-size: $font-body + 1;
							&:hover {
								color:$theme;
							}
						}
						+ li {
							margin-left: 15px;
						}
					}
				}
			}
		}
	}
	.navbar-expand-md {
		padding: 0;
		background-color: $dark-color !important;
		@media (max-width: 767px){
			.container {
				padding: 10px 15px;
				.navbar-toggler {
		    		background-color: transparent;
		    		border:none;
		    		padding: 0;
		    	}
		    	.navbar-toggler-icon {
		    		background-image: url(../../img/light_burger.svg);
		    		width: 30px;
		    		height: 30px;
		    	}
		    	.navbar-collapse{
		    		position: absolute;
				    left: 0;
				    right: 0;
				    z-index: 9;
				    top: 100%;
				    background: $dark-color;
				    max-height: 450px;
		    	}
			}
		}
		#top_menu {
			@media (min-width: 768px) and (max-width: 1899px){
				max-width: 1000px;
			}
			@media (min-width: 768px) and (max-width: 1199px){
				max-width: 580px;
			}
			@media (min-width: 768px) and (max-width: 991px){
				max-width: 400px;
			}
			@media (max-width: 767px){
				text-align: left !important;
			}
			li {
				a.nav-link {
					padding: 15px 10px;
					color: $light-color;
					&:hover, &.active{
						background-color:$theme;
					}
					@media (max-width: 767px){
						padding:10px;
					}
				}
			}
		}
		.menu_right {
			@include flex;
			@include flexwrap;
			@include align-content;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: flex-end;
			.personal-info {
				ul {
					li {
						a {
							font-size: $font-body;
							color: $light-color;
							@media (max-width: 767px){
								font-size: $font-body - 2;
							}
							&:hover{
								color:$theme;
							}
						}
						+ li {
							margin-left: 15px;
							@media (max-width: 767px){
								margin-left: 10px;
							}
						}
					}
				}
			}
			.btn-group {
				.language-bar {
					margin-left: 15px;
					@media (max-width: 767px){
						margin-left: 10px;
					}
					.dropdown-toggle {
						padding: 0;
						font-size: $font-body;
						color: $light-color;
						@media (max-width: 767px){
							font-size: $font-body - 2;
						}
						&:hover{
							color:$theme;
						}
					}
					.dropdown-menu {
						min-width: 100px;
						width: auto;
						li {
							a {
								color: $dark-color;
								padding: 5px 10px;
								display: block;
							}
							+ li {
								border-top: 1px solid $dark-color;
							}
						}
					}
				}
				.currency_bar {
					margin-left: 15px;
					@media (max-width: 767px){
						margin-left: 10px;
					}
					.dropdown-toggle {
						padding: 0;
						font-size: $font-body;
						color: $light-color;
						@media (max-width: 767px){
							font-size: $font-body - 2;
						}
						&:hover{
							color:$theme;
						}
					}
				}
			}
		}
	}
}