.homepage {
	header {
		background: transparent;
	    position: absolute;
	    z-index: 2;
	    left: 0;
	    right: 0;
	    width: auto;
	    top: 0;
	    @media (min-width: 768px){
		    .navbar-light {
				padding-top: 0;
				padding-bottom: 0;
		    }
		}
	}
}
body {
	header {
		background: $dark-color;
		-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
		.header-navbar-logo {
			@include flex;
			@include flexwrap;
		}
	    .navbar-brand.logo {
	    	img {
	    		height: 55px;
	    		@media (max-width: 1199px){
	    			height: 45px;
	    		}
	    		@media (max-width: 767px){
	    			height: 35px;
	    		}
	    	}
	    }
	    .navbar-light {
	    	background: transparent !important;
	    	padding-right: 0;
	    	padding-left: 0;
	    	padding-top: 20px;
	    	padding-bottom: 20px;
	    	@media (max-width: 767px){
	    		padding: 10px 1rem;
	    		.nav-items-icon {
	    			margin-left: auto;
	    			margin-right: 20px;
	    		}
	    	}
	    	#top_menu {
	    		margin-right: auto !important;
	    		margin-left:0 !important;
	    	}
	    	.navbar-toggler {
	    		border: none;
	    		padding: 0;
	    		-webkit-box-ordinal-group: 2;
	    		-ms-flex-order: 1;
	    		order: 1;
	    		&:hover, &:focus{
	    			outline:none;
	    			border: 0;
	    		}
	    	}
	    	.navbar-toggler-text {
	    		padding: 0;
				line-height: normal;
				color: $light-color;
				font-weight: normal;
				font-size: 24px;
			    display: block;
	    		@media (min-width: 768px){
	    			display: none;
	    		}
	    	}
	    	.nav-toggle-btn {
	    		background-color: transparent;
	    		border:none;
	    		padding: 0;
	    		margin-left: 25px;
	    		.navbar-toggler-icon {
	    			@media (max-width: 767px){
		    			display: none;
		    		}
	    		}	
	    	}
	    	.navbar-toggler-icon {
	    		background-image: url(../../img/light_burger.svg);
	    		width: 30px;
	    		height: 30px;
	    	}
	    	#top_menu {
	    		list-style-type: none;
	    		@media (min-width: 768px) and (max-width: 1199px){
	    			max-width: 700px;
	    		}
	    		> li.nav-item > a {
					@media (min-width: 768px){
						line-height: 75px;
					}
				}
	    		li {
	    			+ li {
	    				a.nav-link {
	    					margin-left: 20px;
	    					@media (max-width: 1599px){
					    		margin-left: 15px;
					    	}
					    	@media (max-width: 767px){
					    		margin-left: 0;
					    		margin-top: 10px;
					    	}
	    				}
	    			}
	    			a {
	    				padding: 0;
	    				line-height: normal;
	    				color: $light-color;
	    				font-weight: normal;
	    				font-size: $title - 1;
	    				&:hover , &.active {
	    					color:$theme;
	    				}
	    			}
	    			&.o_extra_menu_items {
	    				ul {
	    					li {
	    						a {
	    							padding:7px 10px;
	    							margin-left: 0;
	    						}
	    					}
	    				}
	    			}
	    			&.dropdown {
		    			.dropdown-menu {
		    				li {
		    					a {
		    						margin-left: 0;
		    						padding: 5px 15px;
		    						&.active {
		    							background: $dark-color;
		    							color: $light-color !important;
		    						}
		    					}
		    				}
		    			}
		    		}
		    		&#mm_1_col{
		    			.mega-dropdown-menu {
		    				.page_info {
		    					a {
		    						margin-left: 0 !important;
		    					}
		    				}
		    			}
		    		}
		    		&.menu_service_1 {
		    			.dropdown-menu {
		    				.link-thumb {
		    					+ .link-thumb {
		    						margin-top: 0;
		    					}
		    				}
		    			}
		    		}
	    		}
	    	}
	    	.navbar-collapse {
	    		@media (max-width: 767px){
	    			position: absolute;
	    			left: 0;
	    			right: 0;
	    			top: 100%;
	    			z-index: 9;
    				padding: 15px;
    				background: fade-out($dark-color, 0.1);
    				margin-top: 0;
    				max-height: 450px;
    				overflow: auto;
    				#top_menu {
    					li {
    						text-align: left;
    					}
    				}
    			}
	    	}
	    }
	}
}
body #wrapwrap .o_header_affix.affixed {
	background: $dark-color;
	position: fixed;
	.navbar-light {
		padding-top: 0;
		padding-bottom: 0;
		.container {
			padding-top: 0;
			padding-bottom: 0;
			@media (max-width: 767px){
				padding-bottom: 10px;
				padding-top: 10px;
			}
		}
		#top_menu > li.nav-item > a {
	    	line-height: 65px;
	    	@media (max-width: 767px){
	    		line-height: normal;
	    	}
		}
	}
	.logo img {
		height: 45px;
		@media (max-width: 767px){
			height: 35px;
		}
	}
}
.scita-side-menu {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	background-color: $light-color;
	padding: 50px 30px 20px;
	width: 350px;
	overflow-y: auto;
	@include transition(all, 0.5s, ease);
	display: block !important;
	&.o_hidden {
	    right: -100%;
	    @include transition(all, 0.5s, ease);
	}
	@media (max-width: 359px){
		width: 90%;
	}
	#close_cstm_nav_toggle {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
		font-size: 18px;
		font-weight: bold;
		color: $dark-color;
		&:hover{
			color:$theme;
		}
	}
	.header-search {
		margin-bottom: 20px;
		.oe_search_button {
			background-color: $dark-color;
			color: $light-color;
			border-radius: 0;
		}
	}
	.sct_link {
		ul {
			list-style-type: none;
			li {
				display: block;
				a {
					font-size: $font-body + 1;
					margin-bottom: 1rem;
					display: inline-block;
					color: $dark-color;
					&:hover{
						color:$theme;
					}
				}
			}
		}
	}
	.company_address {
		font-size: $font-body;
		color: $dark-color;
	}
	.my-cart, .sct_wsale_my_wish, .currency_opt, .personal-info, .lang-opt {
		margin-bottom: 20px;
		padding:10px 0;
		border-top: 1px solid $light-grey-color;
		border-bottom: 1px solid $light-grey-color;
		a, .sct-cst-wl {
			color: $dark-color !important;
			font-size: $font-body;
			font-weight: bold;
			display: block;
			&:hover{
				color:$theme !important;
			}
		}
	}
	.lang-opt {
		> span {
			display: block;
			color: $dark-color;
			font-size: $font-body;
			font-weight: bold;
			cursor: pointer;
			&:hover{
				color:$theme;
			}
		}
		#add-language {
			ul {
				list-style-type: none;
				border: 1px solid $light-grey-color;
				li {
					padding: 10px;
					a {
						text-transform: uppercase;
					}
					+ li {
						border-top: 1px solid $light-grey-color;
					}
				}
			}
		}
	}
	.sct_wsale_my_wish {
		.top-link-checkout {
			cursor: pointer;
			> span {
				position: relative;
				display: block;
				span {
					padding: 2px 5px;
				    border: 1px solid $dark-color;
				    position: absolute;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    margin: auto;
				    line-height: normal;
				}
			}
		}
		#show-wishlist {
			margin-top: 10px;
			.wishlist-section {
				margin-top: 0;
				table {
					margin-bottom: 0.05rem;
					td {
						border-top: 1px dashed $light-grey-color;
						padding: 0.5rem;
						padding-left: 0;
						&.td-img {
							width: 25%;
							a {
								padding: 5px;
								border:1px solid $light-grey-color;
							}
						}
						.o_wish_rm {
							padding: 0;
							padding-top: 2px;
							color: $theme;
							font-size: $font-body;
						}
						&:last-child{
							padding-right: 0;
						}
					}
					tr:first-child {
						td {
							border-top:none;
						}
					}
				}
			}
			.button-box {
				.view-all-wish {
					padding: 0 0.5rem;
					line-height: 40px;
					border:1px solid $dark-color;
					border-radius: 0;
					&:hover{
						border-color:$theme;
					}
				}
			}
		}
	}
	.my-cart {
		> span {
			display: block;
			color: $dark-color;
			font-size: $font-body;
			font-weight: bold;
			cursor: pointer;
			position: relative;
			&:hover{
				color:$theme;
			}
			span {
				padding: 2px 5px;
			    border: 1px solid $dark-color;
			    position: absolute;
			    right: 0;
			    top: 0;
			    bottom: 0;
			    margin: auto;
			    line-height: normal;
			}
		}
		.h-cart-inner {
			list-style-type: none;
			margin-top: 10px;
			.product-desc {
				.pd-row {
					@include flex;
					@include flexwrap;
					@include content-sb;
					@include align-fs;
					.product-img {
						flex:0 0 25%;
						max-width: 25%;
						border: 1px solid $light-grey-color;
						border-radius: 0;
						padding:5px;
					}
					.product-detail {
						flex:0 0 75%;
						max-width: 75%;
						padding-left: 5px;
						a {
							display: inline-block;
						}
						p {
							margin-bottom: 0;
						}
						p {
							margin-bottom: 0;
						}
					}
					+ .pd-row {
						margin-top: 10px;
						padding-top: 10px;
						border-top: 1px dashed $light-grey-color;
					}
				}
				.total {
					margin-top: 10px;
					#order_total {
						margin-right: 0;
						margin-left: 0;
						label {
							font-weight: bold;
							color: $dark-color;
							margin-bottom: 0;
							font-size: $title;
							margin-right: 5px;
						}
						span {
							font-weight: bold;
							font-size: $title;
							color: $theme;
						}
					}
				}
				.button-box {
					margin-top: 10px;
					@include flex;
					@include flexwrap;
					@include content-sb;
					a {
						flex: 0 0 40%;
						max-width: 40%;
						border: 1px solid $dark-color;
						border-radius: 0;
						padding: 0 0.5rem;
						line-height: 40px !important;
						&:hover{
							border-color:$theme;
						}
					}
				}
			}
		}
	}
	.currency_opt {
		.currency_bar {
			@include flex;
			@include align-content;
			@include flexwrap;
			@include content-sb;
			label {
				color: $dark-color;
				font-size: $font-body;
				font-weight: bold;
				margin-bottom: 0;
			}
			.dropdown {
				.dropdown-toggle {
					background-color: transparent;
					border: none;
					padding: 0;
					line-height: normal;
					&:focus{
						box-shadow:none;
					}
				}
				.dropdown-menu {
					border-radius: 0;
					width: auto;
					right: 0;
					top: 20px !important;
					left: auto !important;
					transform: translate3d(0,0,0) !important;
				}
			}
		}
	}
	.personal-info {
		ul {
			list-style-type: none;
			li {
				+ li {
					margin-top: 10px;
				}
			}
		}
	}
	.social-link {
		ul {
			list-style-type: none;
			@include flex;
			@include align-content;
			li {
				a {
					color: rgba(255,255,255, 0.6);
					background: rgba(0,0,0, 0.6);
					width: 25px;
					height: 25px;
					border-radius: 50%;
					@include flex;
					@include justify-align-content;

					&:hover{
						background:fade-in($body-color, 0.5);
					}
				}
				+ li {
					margin-left: 5px;
				}
			}
		}
	}
}
body{
	&.show-scita-cstm-menu {
		overflow:hidden;
		#wrapwrap {
			position: relative;
			&:before{
				position:fixed;
				content: '';
				z-index: 999;
				background-color: rgba(0,0,0, 0.5);
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
		}
	}
	&.o_connected_user {
		.scita-side-menu {
			top: 46px;
		}
	}
}