header {
	.top-header {
		.cstm-top-row {
			padding: 10px 0;
			.h-left {
				p {
					margin-bottom: 0;
				}
				@media (max-width:767px){
					display:none;
				}
			}
			.sct-top-right {
				@media (max-width: 767px){
					flex: 0 0 100%;
					max-width: 100%;
				}
				ul {
					-webkit-box-pack: end;
					-ms-flex-pack: end;
					justify-content: flex-end;
					@media (max-width: 767px){
						@include content-cn;
						border-bottom: 1px solid #dadada;
					}
					li {
						a {
							font-size: $font-body;
							color: $dark-color;
							&:hover{
								color:$theme;
							}
						}
						+ li {
							padding-left: 15px;
							margin-left: 15px;
							border-left: 1px solid #dadada;
						}
					}
				}
			}
		}
		.cstm-bottom-row {
			padding-bottom: 20px;
			@media (max-width: 767px){
				padding-bottom: 10px;
			}
			.left_info{
				@include flex;
				@include flexwrap;
				@include align-content;
				@media (max-width: 767px){
					-webkit-box-ordinal-group: 3;
					-ms-flex-order: 2;
					order: 2;
					-webkit-box-pack: end;
					-ms-flex-pack: end;
					justify-content: flex-end;
				}
				.btn, .dropdown-toggle {
					background-color: $light-grey-color !important;
					padding: 5px 15px;
					line-height: 25px;
					border-radius: 0;
					@media (max-width:991px){
						padding: 5px;
						line-height: 20px;
					}
				}
				.language-bar {
					margin-right: 15px;
					@media (max-width:991px){
						margin-right: 10px;
					}
					.dropdown-menu {
						min-width: 100px;
						width: auto;
						li {
							a {
								padding: 8px;
								display: block;
								color: $dark-color;
							}
							+ li {
								border-top: 1px solid $dark-color;
							}
						}	
					}
				}
				.hprice-list {
					.dropdown-menu {
						width: 175px;
					}
				}
			}
			.logo-sec {
				@include flex;
				@include flexwrap;
				@include justify-align-content;
				@media (max-width: 767px){
					-webkit-box-pack: start;
					-ms-flex-pack: start;
					justify-content: flex-start;
					-webkit-box-ordinal-group: 2;
					-ms-flex-order: 1;
					order: 1;
				}
				.logo {
					margin-right: 0;
					@media (max-width: 767px){
						img {
							height: min-content;
						}
					}
				}
					
			}
			.right_search {
				@include flex;
				@include flexwrap;
				@include align-content;
				-webkit-box-pack: end;
				-ms-flex-pack: end;
				justify-content: flex-end;
				@media (max-width: 767px){
					margin-top: 10px;
					-webkit-box-ordinal-group: 2;
					-ms-flex-order: 3;
					order: 3;
				}
				.header-search {
					max-width: 350px;
					@media (max-width: 767px){
						width: 100%;
						max-width: 100%;
					}
					.search-query {
						border: 1px solid #dadada;
						border-radius: 0;
					}
					.oe_search_button {
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						z-index: 9;
					}
					.dropdown-menu {
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
	.navbar-expand-md {
		padding-top: 0;
		padding-bottom: 0;
		background-color: $dark-color !important;
		@media (max-width: 767px){
			padding-top: 10px;
			padding-bottom: 10px;
			.navbar-toggler {
				padding: 0;
			}
	    	.navbar-toggler-icon {
	    		background-image: url(../../img/light_burger.svg);
	    		width: 25px;
	    		height: 20px;
	    	}
	    	.navbar-collapse {
	    		position: absolute;
	    		left: 0;
	    		right: 0;
	    		top: 100%;
	    		z-index: 9;
	    		background-color: $dark-color;
	    		margin-left: -1rem;
	    		margin-right: -1rem;
	    		max-height: 450px;
	    		ul {
	    			text-align: left !important;
	    			margin-top: 10px;
	    			border-top: 1px solid $light-grey-color;
	    			li{
	    				a {
	    					padding: 7px 15px;
	    				}
	    				+ li {
	    					a {
	    						border-top:1px solid $light-grey-color;
	    					}
	    				}
	    			}
	    		}
	    	}
		}
		.navbar-collapse {
			ul {
				li {
					a {
						color: $light-color !important;
						padding-top: 7px;
						padding-bottom: 7px;
						&.dropdown-item {
							color: $dark-color !important;
						}
						&:hover{
							color:$theme !important;
						}
					}
				}
			}
		}
		.menu_right {
			ul {
				li {
					a {
						font-size: $font-body;
						color: $light-color;
						&:hover{
							color:$theme;
						}
					}
					+ li {
						margin-left: 15px;
					}
				}
				.h-cart-inner {
					top: auto;
				}
			}
		}
	}
}